.footer{
    background: #000;
    color: #fff;
}

@media  screen and (min-width: 800px) {
    .footer{
       
        /* position: absolute; */
        margin-bottom: 0;
        /* height: 12vh; */
    }
    
}