.topic-container{
    margin-bottom: 30px;
    margin-top: 40px;
    
}
@media  screen and (min-width: 990px) {
    .topic-container{
        width: 100%;
        height: 100vh ;
        margin-top: 70px;
        /* margin-bottom: 320px; */
    }
}